section.about{
    background: #EAF2FD;
    padding-bottom: 1rem;
}

.about__logo{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.about__links{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: auto;
}

.about__texto{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    color: #464646;
    margin-bottom: 1rem;
}

.about__h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    margin-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.about__camposDeEscrita{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

.about__nome, 
.about__mensagem{
    height: 56px;
    background: #FFFFFF;
    border-radius: 4px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0 1rem 1rem 1rem;
    border: none;
    border-bottom: #C8C8C8 1px solid;
}

.about__button{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 10px;
width: 151px;
height: 40px;
background: #2A7AE4;
color: #FFFFFF;
font-family: 'Raleway';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 16px;
border: none;
}

.about__div--button{
    display: flex;
    justify-content: center;
}

.about__logoTexto{
    
}

@media screen and (min-width:768px) {
    section.about{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 2rem;
    }

    .about__logo{
        justify-content: initial;
    }
    
    .about__divTextoButton{
        width: 66%;
    }

    .about__logoTexto{
        width: 33%;
    }

    .about__mensagem{
        height: 84px;
        margin: 0 0rem 1rem 1rem
    }

    .about__nome{
        margin: 0 0rem 1rem 1rem
    }

    .about__texto{
        text-align: initial;
    }
}

@media screen and (min-width:1024px) {
    section.about{
        padding: 2rem 9.5rem;
        justify-content: space-between;
    }

    .about__logo{
        display: block;
    }

    .about__divTextoButton{
        width: 50%;

    }

    .about__logoTexto{
        display: flex;
    }


}
