section.adicionarNovoProduto{
    padding: 1rem;
    background: #E5E5E5;
}

.header__menuAdministrador{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0.75rem 1rem;
    gap: 10px;
    width: 8.313rem;
    height: 40px;
    border: 1px solid #2A7AE4;
    order: 1;
    flex-grow: 0;
    color: #2A7AE4;
    background: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1rem;
}

.header__menuAdministrador:active{
    transform: scale(.96);
}

.adicionarNovoProduto__titulo{
    margin-bottom: 1rem;
}

.adicionarNovoProduto__dadosNovosProtudos{
    display: flex;
    flex-direction: column;
}

.adicionarNovoProduto__dadosNovosProtudos input{
    height: 56px;
    background: #FFFFFF;
    border-radius: 4px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-bottom: 1rem;
    border: none;
    border-bottom: #C8C8C8 1px solid;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #464646;
}

.adicionarNovoProduto__dadosNovosProtudos input::placeholder{
    display: flex;
    justify-content: flex-start;
}

.adicionarNovoProduto__button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 16px;
    gap: 10px;
    width: 100%;
    height: 40px;
    background: #2A7AE4;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    border: none;
}

.adicionarNovoProduto__button:active{
    transform: scale(.96);
}

.divParaErroUrl{
    display: flex;
}

.divParaErroProduto{
    display: flex;
}

.divParaErroPreco{
    display: flex;
}

@media screen and (min-width: 768px) {
    section.adicionarNovoProduto{
        padding: 2rem;
    }    

    .adicionarNovoProduto__titulo{
        text-align: initial;
    }

    .header__menuAdministrador{
        margin-right: 2rem;
    }
}

@media screen and (min-width: 1024px) {
    section.adicionarNovoProduto{
        padding: 2rem 9.5rem;
        display: flex;
        justify-content: center;
    }

    .adicionarNovoProduto__div{
        width: 35rem;
    }


}